@font-face {
    font-family: Victor;
    src: url(Terminess.ttf);
}

body {
    font-family: Victor;
    font-size: large;
    background-attachment: fixed;
    background-image: url(https://i.imgur.com/XF6x2GM.png);
    background-size: cover;
    margin: 0;
}

h1 {
    color: #7f8394;
    font-size: xx-large;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

a {
    color: #09b9ff
}

nav {
    position: sticky;
    overflow: hidden;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

.link {
    color: white;
}

.badge {
    border-radius: 5px;
}

.content {
    margin: 20px;
    padding: 20px 100px;
    border-radius: 5px;
}

.profile-image {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}

.desktop-image {
    width: 600px;
}

body::-webkit-scrollbar {
    width: 20px;
}  

 body::-webkit-scrollbar-track {
    background-color: #333947;
    border-radius: 0px;
  }
   
  body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-image: linear-gradient(180deg, #070d18 1%, #333945 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

footer {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}
